body
	background: #FFF
	// +css-lock(16, 50, 600, 1000)
	line-height: 1.4

.slider
	+clr
	font-size: 0

.item
	&-slider
		display: inline-block
		vertical-align: top
		a
			display: block
			overflow: hidden
			&:hover
				img
					transform: scale(1.3)
		&.item-lg
			display: inline-block
			vertical-align: top
			float: left
	&-slider img
		max-width: 100%
		height: auto
		transition: all .24s ease-in-out