.preview
	position: relative
	// margin-top: -91px
	padding-top: 155px
	padding-bottom: 302px
	color: $white
	+cover
	+clr
	+md
		overflow: hidden
		padding-bottom: 0
	&__in
		max-width: 1170px
		+clr
	&__image
		position: absolute
		top: -8px
		left: -532px
		width: 930px
		+md
			top: 18px
			left: 50%
			margin-left: -378px
		&-wrapper
			position: relative
			float: right
			z-index: 1
			pointer-events: none
			+md
				float: none
				height: 495px
		&-wrapper img
			max-width: 100%
			display: block
	&__desc
		float: left
		max-width: 670px
		z-index: 3
		position: relative
		padding-left: 78px
		+md
			padding-left: 0
			float: none
		.title-lead
			margin-top: 71px
		.title-shaped
			margin-left: 65px
	&__text
		padding-left: 100px
		+md
			padding-left: 58px
			margin-top: 25px
			text-align: center
		p
			color: $gray
			+font-family($gotham-light)
			font-size: 14px
			line-height: 2.14286
			text-align: left
			strong
				text-transform: uppercase
				+font-family($gotham-md)
		.btn
			margin-top: 45px
			max-width: 228px
			height: 68px
			font-size: $text-reg //16px
			line-height: 68px
			+r(768)
				margin-top: 45px
	.copyright
		+font-family($gotham-light)
		color: $gray
		position: absolute
		left: 38px
		bottom: 0
		padding-top: 350px
		opacity: 0.4
		letter-spacing: 0.2em
		writing-mode: vertical-lr
		transform: rotate(180deg)
		+r(1199)
			left: 3px
		&:after
			content: ""
			display: block
			position: absolute
			top: 0
			transform: translate3d(0px,9px,0px) rotateZ(0deg)
			right: 100%
			width: 340px
			height: 1px
			background-color: rgba($gray, .40)
.order
	padding: 100px 0 95px 0
	+image(bg-order)
	+cover
	text-align: center
	+r(768)
		padding: 60px 0
	+r(667)
		padding: 40px 0
	h3
		margin-bottom: 50px
		text-transform: uppercase
		color: $main
		font-size: $text-lg //36px
		+font-family($gotham-reg)
		+r(768)
			margin-bottom: 30px
	form
		max-width: 770px
		margin: 0 auto
		font-size: 0
		+r(860)
			max-width: 90%
		.grid
			&__item
				+r(860)
					width: 100%
					padding-right: 0
					margin-bottom: 15px
				+r(640)
					width: 50%
					padding-right: 15px
				+r(568)
					width: 100%
					padding-right: 0
			&-double-spacing
				+r(860)
					margin-right: 0
				+r(640)
					margin-right: -15px
				+r(568)
					margin-right: 0
	.textarea-field
		margin: 15px auto 70px
		+r(860)
			margin: 0 auto 30px


// features
.features
	background-image: url("../img/bg-features.png")
	+cover
	position: relative
	+r(992)
		background-position: left center
	.image-left
		overflow: hidden
		height: 880px
		margin-left: 40px
		+r(1024)
			margin-left: 20px
		+r(992)
			display: none
		img
			max-width: 100%
			height: auto
	&__right
		float: right
		font-size: 0
		display: table
		max-width: 670px
		position: relative
		top: -77px
		+r(992)
			max-width: 100%
			width: 100%
			display: inline-block
			vertical-align: top
			float: none
		.list-features
			width: 50%
			max-width: 340px
			display: inline-block
			vertical-align: top
			&.offset-top
				margin-top: 115px
			+r(992)
				max-width: 100%
		.title-shaped
			top: 0
			right: 40px
			position: absolute
.image
	&-left
		float: left


// register
.register
	overflow: hidden
	+clr
	background-image: url("../img/bg-dark.png")
	+cover
	padding: 100px 0 104px 0
	&-preview
		position: absolute
		display: inline-block
		width: 740px
		top: -40px
		right: -220px
		vertical-align: top
		+r(1166)
			width: 680px
			top: 70px
			right: -250px
		+r(992)
			top: 108px
			position: relative
			right: 0
			left: 0
			width: 100%
			height: 815px
		+r(768)
			height: 605px
		img
			max-width: 100%
			height: auto
	.inner
		+r(768)
			padding: 0 30px
		&__in
			position: relative
			+r(768)
				padding: 0 30px
	&__desc
		float: left
		padding-left: 45px
		max-width: 675px
		+r(768)
			padding-left: 0
			float: none
			max-width: 100%
		.title-shaped
			margin-left: 61px
		h3
			font-size: 60px
			letter-spacing: 0.20rem
			color: $white
			line-height: 1.11
			+font-family($gotham-reg)
			margin: 52px auto 17px
			text-transform: uppercase
		p.price
			+font-family($gotham-reg)
			font-size: 119.7px
			color: $brown2
			line-height: 1
			letter-spacing: 0.05rem
			strong
				+font-family($gotham-md)
				display: inline-block
				font-size: 80px
	&__about
		margin-top: 70px
		.btn-group
			margin-top: 60px
			.btn
				+r(992)
					max-width: 231px
		p
			+font-family($gotham-light)
			font-size: 14px
			line-height: 2.13
			color: $gray
			strong
				+font-family($gotham-bld)
				text-transform: uppercase
				font-weight: bold
		.title-icon
			font-size: 14px
			color: $gray
			text-transform: uppercase
			position: relative
			padding-bottom: 29px
			+font-family($gotham-light)
			margin-bottom: 19px
			&:after
				content: ""
				display: block
				position: absolute
				left: 0
				top: 100%
				background-color: rgba($coffee, 0.45)
				height: 1px
				width: 60px
			i
				position: absolute
				top: -12px
				left: -50px
