---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="order" id="order">
	<div class="inner">
		<h3>Форма Заказа</h3>
		<form action="" novalidate="">
			<input type="text" required="" placeholder="Ваше имя" class="name">
			<input type="email" required="" placeholder="Ваш email">
			<textarea name="" id="" cols="12" rows="5" placeholder="Комментарий"></textarea>
			<button type="submit" class="btn btn-brown btn-ghost">заказать</button>
		</form>
	</div>
</div>
<!-- END .order -->

<div class="gallery" id="gallery">
	<div class="js-slick slider">
		<div class="item-slider item-lg">
			<a href="#"><img src="img/brush-02.png" alt=""></a>
		</div>

		<div class="item-slider">
			<a href="#"><img src="img/brush-03.png" alt=""></a>
		</div>

		<div class="item-slider">
			<a href="#"><img src="img/brush-04.png" alt=""></a>
		</div>

		<div class="item-slider">
			<a href="#"><img src="img/brush-05.png" alt=""></a>
		</div>

		<div class="item-slider">
			<a href="#"><img src="img/brush-06.png" alt=""></a>
		</div>
	</div>
</div>
<!-- END .gallery -->


{% include "partials/_footer.html" %}

{% endblock %}
