---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="preview" style="background-image: url('../img/bg-header.jpg');">
	<div class="preview__in inner">
		<div class="copyright">medusa brush. simmetria © 2017</div>
		<div class="preview__desc">
			<h3 class="title-shaped">MEDUSA BRUSH</h3>
			<h2 class="title-lead">Тайна<br> послушных волос<br> распутана!</h2>

			<div class="preview__text">
				<p>Давно ищешь идеальный инструмент для ухода за волосами? <br>Он есть! Это — щетка <strong>Medusa Brush</strong>. Она прекрасно подходит для укладки или окрашивания, для сухих и мокрых волос – любого типа, объема и формы. Тебе больше не нужно держать целый арсенал щеток на все случаи жизни. <strong>Medusa Brush</strong> всегда будет под рукой. Она создана для девушки, которая любит, ценит и бережет свою красоту. Она создана для тебя!</p>
				<a href="#order" class="js-scroll-to btn btn-brown btn-ghost">ЗАКАЗАТЬ</a>
			</div>
		</div>

		<div class="preview__image-wrapper">
			<div class="preview__image">
				<img src="img/brush-00.png" alt="">
			</div>
		</div>
	</div>

	<div class="header-shape"></div>
</div>
<!-- END .preview -->

<div class="features" id="features">
	<div class="inner">
		<div class="inner__in">
			<div class="image-left">
				<img src="img/brush-01.png" alt="">
			</div>

			<div class="features__right">
				<ul class="list-features">
					<li>
						<i class="icon-feat-00"></i>
						<h3>Нежный уход</h3>
						<p>Аккуратно расчесывает даже самые спутанные волосы, не причиняя им никакого вреда.</p>
					</li>
					<li>
						<i class="icon-feat-02"></i>
						<h3>Желаемый эффект</h3>
						<p>Придает волосам роскошный объем и надолго сохраняет укладку. Радуйся своей прическе на протяжении всего дня!</p>
					</li>
					<li>
						<i class="icon-feat-04"></i>
						<h3>Здоровье и сила</h3>
						<p>Medusa Brush – прекрасное решение для укрепления волос. Она нежно и мягко массирует кожу и стимулирует рост волос. </p>
					</li>
				</ul>

				<h2 class="title-shaped">особенности</h2>
				<ul class="list-features offset-top">
					<li>
						<i class="icon-feat-01"></i>
						<h3>Особый материал</h3>
						<p>Ультрамягкий пластик объединяет лучшие свойства натуральных и синтетических материалов и не электризуется.</p>
					</li>
					<li>
						<i class="icon-feat-03"></i>
						<h3>Универсальное решение</h3>
						<p>Равномерно распределяет по голове любые средства ухода: маски, спреи, кондиционеры, блеск… Все, что нужно для совершенной прически!</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="gallery" id="photos">
	<div class="js-slider slider js-reveal-container">
		<div class="item-slider item-lg">
			<div class="js-reveal js-reveal-00">
				<a class="js-fancybox" href="img/brush-02.jpg" data-fancybox="images" style="background-image: url('./img/brush-02.jpg');">
				</a>
			</div>
		</div>

		<div class="item-slider item-md">
			<div class="js-reveal js-reveal-01">
				<a class="js-fancybox" href="img/brush-03.jpg" data-fancybox="images" style="background-image: url('./img/brush-03.jpg');"></a>
			</div>
		</div>

		<div class="item-slider item-sm">
			<div class="js-reveal js-reveal-02">
				<a class="js-fancybox" href="img/brush-04.jpg" data-fancybox="images" style="background-image: url('./img/brush-04.jpg');"></a>
			</div>
		</div>

		<div class="item-slider item-sm">
			<div class="js-reveal js-reveal-03">
				<a class="js-fancybox" href="img/brush-05.jpg" data-fancybox="images" style="background-image: url('./img/brush-05.jpg');"></a>
			</div>
		</div>

		<div class="item-slider item-sm">
			<div class="js-reveal js-reveal-04">
				<a class="js-fancybox" href="img/brush-06.jpg" data-fancybox="images" style="background-image: url('./img/brush-06.jpg');"></a>
			</div>
		</div>
	</div>
</div>
<!-- END .gallery -->

<div class="register">
	<div class="inner">
		<div class="inner__in">
			<div class="register__desc">
				<h2 class="title-shaped">Заказать</h2>
				<h3>Цена <br>Medusa Brush</h3>
				<p class="price">669 <strong>UAH</strong></p>
				<div class="register__about">
					<div class="title-icon"><i class="icon-novaposhta"></i>Доставка Новой Почтой по Украине</div>
					<p><strong>Medusa Brush</strong> — эксклюзивный и инновационный продукт. Заказывай оригинальную щетку на этом сайте, а также в сети магазинов <strong>SIMMETRIA</strong>. И всегда будь неотразимой, ведь каждый день — твой самый важный день в жизни!</p>
					<div class="btn-group">
						<a href="#order" class="js-scroll-to btn btn-brown btn-ghost">ЗАКАЗАТЬ</a>
						<a href="#" class="btn btn-brown btn-ghost">сайт simmetria</a>
					</div>
				</div>
			</div>
			<!-- END .register__desc -->
			<div class="register-preview">
				<img src="img/brush-double.png" alt="">
			</div>
		</div>
	</div>
</div>
<!-- END .lorem -->

<div class="order" id="order">
	<div class="inner">
		<h3>Форма Заказа</h3>

		<form>
			<div class="grid grid-double-spacing">
				<div class="grid-2-col">
					<div class="grid__item">
						<div class="input-field">
							<input type="text" placeholder="Ваше имя" class="name input" required="">
						</div>
					</div>

					<div class="grid__item">
						<div class="input-field">
							<input type="email" placeholder="Ваш email" class="input" data-validation="email" required="">
						</div>
					</div>
				</div>
			</div>

			<div class="textarea-field">
				<textarea class="textarea" cols="12" rows="8" placeholder="Комментарий"></textarea>
			</div>
			<button type="submit" class="btn btn-ghost  btn-dark">заказать</button>
		</form>
		<!-- END -->
	</div>
</div>
<!-- END .order -->
{% include "partials/_footer.html" %}


<!-- <div class="scroll-down-container">
	<a href="#contacts" class="scroll-down js-scroll-to">Прокрутить вниз <i class="icon-arrow-down" title="Вниз"></i></a>
</div> -->


{% endblock %}


