<footer class="footer">
	<div class="inner">
		<div class="footer__info">
			<div class="contacts">
				<p>Киев, Украина</p>
				<p>Телефон: <a href="tel:+380672199968" class="numb">+38 (067) 219-99-68</a></p>
			</div>
			<!-- END .contacts -->

			<div class="address">
				<p>e-mail:<a href="mailto:info@medusabrush.com">info@medusabrush.com</a></p>
				<p>эксклюзивно на <a href="simmetria.ua" target="_blank" title="Simmetria.ua"><span>simmetria.ua</span></a></p>
			</div>
			<!-- END .address -->
		</div>
		<!-- END .footer__info -->

		<a href="page.html" class="logo footer__logo">{{mixins.icon('logo-meduzabrush')}}</a>
	</div>
</footer>
<!-- END .footer -->