.header
	background-image: url("../img/bg-header.jpg")
	overflow: hidden
	background-repeat: no-repeat
	&__panel
		font-size: 0
		padding-top: 15px
		+clr
	&__logo
		float: left
		.icon-logo-meduzabrush
			fill: $white
	//nav
	&__nav
		display: inline-block
		vertical-align: top
		float: right
		position: relative
		+clr
		+r(768)
			float: none
			width: 100%
	&__preview
		display: inline-block
		margin-top: 95px
		width: 100%
		position: relative
		margin-bottom: 280px
		vertical-align: top
		+clr
		&-desc
			float: left
			max-width: 600px
			margin-left: 75px
			+r(992)
				margin-left: 0
			h2.title-lead
				margin: 75px auto
				font-size: 48px
				+font-family($gotham-reg)
				color: $white
				line-height: 1.25
				font-weight: normal
				font-style: normal
				text-transform: uppercase
				letter-spacing: 0.050rem
				+r(992)
					font-size: 43px
					margin: 35px auto
			.title-shaped
				margin-left: 65px
			.text
				padding-left: 100px
				+r(992)
					padding-left: 55px
				p
					color: $gray
					+font-family($gotham-light)
					font-size: $text-sm //14px
					line-height: 1.87
					strong
						text-transform: uppercase
						+font-family($gotham-md)
				.btn
					margin-top: 86px
					+r(768)
						margin-top: 45px

